<%- model_class = PupilHasLesson -%>
<div class="page-header">
  <h1><%=t '.title', :default => PupilHasLesson %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:adjusted_price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pupil_has_lessons.each do |pupil_has_lesson| %>
      <tr>
        <td><%= pupil_has_lesson.id %></td>
        <td><%= pupil_has_lesson.adjusted_price %></td>
        <td><%=l pupil_has_lesson.created_at, format: :long %></td>
        <td>
          <%= link_to pupil_has_lesson_path(pupil_has_lesson), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to pupil_has_lesson_path(pupil_has_lesson), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pupil_has_lesson_path,
            :class => 'btn btn-primary' %>
