<%= form_for @pupil, :html => { :class => 'form-horizontal form-model' } do |f| %>

  <div class="form-group">
    <%= f.label :school, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :school, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :class_form, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :class_form, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :telephone_number, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :telephone_number, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :email, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :emergency_contact_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :emergency_contact_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :emergency_contact_relationship, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :emergency_contact_relationship, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :emergency_contact_telephone, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :emergency_contact_telephone, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :previous_dancing_schools, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :previous_dancing_schools, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :most_recent_examination_taken, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :most_recent_examination_taken, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :exam_result, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :exam_result, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :medical_conditions, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :medical_conditions, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :first_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :first_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :last_name, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :birthday, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :birthday, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  pupils_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
