<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pupil.user %>
</p>

<p>
  <strong>School:</strong>
  <%= @pupil.school %>
</p>

<p>
  <strong>Class form:</strong>
  <%= @pupil.class_form %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @pupil.telephone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pupil.email %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= @pupil.emergency_contact_name %>
</p>

<p>
  <strong>Emergency contact relationship:</strong>
  <%= @pupil.emergency_contact_relationship %>
</p>

<p>
  <strong>Emergency contact telephone:</strong>
  <%= @pupil.emergency_contact_telephone %>
</p>

<p>
  <strong>Previous dancing schools:</strong>
  <%= @pupil.previous_dancing_schools %>
</p>

<p>
  <strong>Most recent examination taken:</strong>
  <%= @pupil.most_recent_examination_taken %>
</p>

<p>
  <strong>Exam result:</strong>
  <%= @pupil.exam_result %>
</p>

<p>
  <strong>Medical conditions:</strong>
  <%= @pupil.medical_conditions %>
</p>

<p>
  <strong>First name:</strong>
  <%= @pupil.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @pupil.last_name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @pupil.birthday %>
</p>

<%= link_to 'Edit', edit_pupil_path(@pupil) %> |
<%= link_to 'Back', pupils_path %>
